{% layout 'theme.landing' %}
<body>
  <!-- This is just the code to have the enter button appear in the bottom left corner of the screen. You have to upload your own image named ENTER.png and ENTERfill.png if you want this code to work
  <div id= "enter"><a href="/pages/home"><img src="{{ 'ENTER.png' | asset_url }}" width ="280" height = "140"></a></div>
  <div class = "fadein" id= "enterfill"><a href="/pages/home"><img src="{{ 'ENTERfill.png' | asset_url }}" width ="280" height = "140"></a></div>
  -->
    <script src="{{ 'three.min.js' | asset_url }}"></script>
    <script src="{{ 'GLTFLoader.js' | asset_url }}"></script>
    <script src="{{ 'OrbitControls.js' | asset_url }}"></script>
    <script src="{{ 'spinner.js' | asset_url }}"></script>
  </body>
